<div>
   <pre> Check here --> {{resultantObj | json}} </pre>
</div>


<div class="example-button-row">
  <button mat-raised-button style="background-color: green" (click)="observer1()">Observable 1</button>
  <button mat-raised-button style="background-color: orange" (click)="observer2()">Observable 2</button>
  <button mat-raised-button style="background-color: blue" (click)="observer3()">Observable 3</button>

  <button mat-raised-button color="basic" (click)="complete()">Complete</button>
</div>